{
    "txid": "填一个要查询的txid",
    "timeout_sec": 10,
    "bitcoind": {
        "url": "http://127.0.0.1:8332",
        "user": "user",
        "pass": "pass"
    },
    "mempool": {
        "base_url": "https://mempool.space"
    }
}